{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/favicon-white.svg' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Nikhil Mahamuni | Resume</title>
</head>
<body>
    <div id="doc">
        <div class="container-md shadow-lg">
            <div id="heading">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-5">
                        <center>
                            <img 
                                src="https://media.licdn.com/dms/image/D5603AQGGPBEatIt9xA/profile-displayphoto-shrink_800_800/0/1669296003421?e=2147483647&v=beta&t=LJzHU6iTAmBa-Dp9I9eo2qNe1GdUqhBerpGGAeV_Xts" 
                                alt="Profile Photo"
                                id="pro-pic"
                            >
                        </center>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-7">
                        <p>
                            <span id="name">Nikhil S. Mahamuni </span> <br>
                            <span id="designation">Software Engineer</span>
                        </p>
                        <p id="pro-details">
                            Address : Kolhapur Maharashtra - 416003 <br> 
                            Mobile : 9790949603 <br>
                            Email : nikhil.mahamuni01@gmail.com <br>
                            <a
                                class="btn btn-link btn-floating btn-lg text-dark text-white "
                                href="https://github.com/NikhilMahamuni-NM" target="_blank"
                                role="button"
                                data-mdb-ripple-color="dark"
                                style="font-size: 2.5rem;"
                            >
                                <i class="fab fa-brands fa-github"></i>
                            </a> 
                            <a
                                class="btn btn-link btn-floating btn-lg text-dark text-white "
                                href="https://www.linkedin.com/in/nikhil-mahamuni-2a996113a/" target="_blank"
                                role="button"
                                data-mdb-ripple-color="dark"
                                style="font-size: 2.5rem;"
                            >
                                <i class="fab fa-brands fa-linkedin"></i>
                            </a>
                        </p>
                    </div>
                    
                </div>
            </div>
            <div id="resume">
                <div class="row">
                
                    <div id="part-one" class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                        <div>
                            <p class="title">OBJECTIVE:</p>
                            <p class="description">
                                To secure a challenging position in a reputable organization to 
                                expand my learnings, knowledge, and skills. Desirous of Developer role 
                                in a challenging workplace that welcomes innovative ideas and offers 
                                growth opportunities and positive environment for accomplishing projects. 
                            </p>
                        </div>
                        <hr>
                        <div>
                            <p class="title">PROFESSIONAL EXPERIENCE:</p>
                            <P class="band">Software Engineer – Python/Django Developer<br/>
                                <span class="company">Tech Mahindra, Bengaluru (July 2022 – November 2022)</span>
                            </P>
                            <ul class="description">
                                <li>Created Database model and views utilization python in order to build responsive web page application.</li>
                                <li>Configured the Django admin site dashboard for end users.</li>
                                <li>Developed Python Scripts to fetch data from different API’s and update the data in database. </li>
                                <li>Developed Python Scripts to extract data from CSV files and update the same in database.</li>
                            </ul>
                            <P class="band">Associate Software Engineer – Python/Django Developer<br/>
                                <span class="company">Tech Mahindra, Bengaluru (June 2021 – July 2022)</span>
                            </P>
                            <ul class="description">
                                <li>Developed views and templates in Django to create a user-friendly website interface.</li>
                                <li>Created UI using HTML, CSS and Javascript</li>
                                <li>Implemented user interface guidelines and standards throughout the development and maintenance of the website using the HTML, CSS, JavaScript.</li>
                            </ul> 
                        </div>                        
                        <hr>
                        <div>
                            <P class="title">TECHNICAL / COMPUTER SKILLS</P>
                            <ul class="description mx-2">
                                <li>Programming Languages	:    Python, ReactJs</li>
                                <li>Software Packages 		:    MS Office, Adobe Photoshop</li>
                                <li>Web Technologies 		:    HTML, CSS, JavaScript</li>
                                <li>Framework			    :    Django, Django Rest Framework</li>
                                <li>Database		 	    :    MySQL</li>
                                <li>Version Control		    :    Git, Github</li>
                                <li>Operating System		:    Windows, Linux</li>
                            </ul>
                        </div>
                        <hr>
                        <div>
                            <P class="title">EDUCATIONAL QUALIFICATIONS:</P>
                            <ul class="description">
                                <li>B. Tech (CSE) from Dr. MGR Educational and Research Institute with 8.80 CGPA in 2020.</li>
                                <li>12th Science (State Board) from Vivekanand College, Kolhapur, Maharashtra with 87.08% in 2016</li>
                                <li>10th (State Board) from Chhatrapati Shahu Vidyalaya, Kolhapur, Maharashtra with 91.80% in 2014</li>
                            </ul>
                        </div>
                        <hr>
                        <div>
                            <P class="title">COURSES / WORKSHOP:</P>
                            <ul class="description mx-2">
                                <li>Completed Udemy Course of  - ‘The Complete React Developer Course (w/ Hooks and Redux)’</li>
                                <li>Completed Udemy Course of – ‘Learn Django from Basics to Advance, Down to Deployment’.</li>
                                <li>Completed Course – ‘Python for Beginners - Basic to Advanced’ from Udemy.</li>
                            </ul>
                        </div>
                        <hr>
                        <div>
                            <P class="title">EXTRA CURRICULAR ACTIVITIES:</P>
                            <ul class="description mx-2">
                                <li>Attended a Meetup – Global Azure Bootcamp at Tech Mahindra, Chennai.</li>
                                <li>Participated in Hackathon – The Big Bot League, at Banglore.</li>
                                <li>Educational Visit at ISRO - Sriharikota.</li>
                                <li>Educational visit at Integral Coach Factory (ICF) of Indian Railways, Chennai.</li>
                                <li>Member of Computer Society of India (CSI) and Attended Various CSI Technical Workshops at Institute Level.</li>
                            </ul>
                        </div>
                        <hr>
                    </div>
                    <div id="part-two" class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                        <div>
                            <p class="title">PERSONAL PROJECTS:</p>
                            <ul class="description">
                                <li>
                                    <span class="project-title">Expensify App</span>
                                    (<span>
                                        <a class="project__links" href="https://reactjs-expensifyapp.vercel.app/" target="_blank">Click to view</a>
                                    </span>)
                                    <br>
                                    <span>
                                        The expensify app is used to keep track of the expenses. The app has features to filter the data by date, amount.
                                        We can also filter the data between the date range. 
                                        
                                    </span> 
                                    <br>
                                    <span><strong>Technologies Used -</strong> ReactJs</span>
                                    <br>
                                </li>
                                <li>
                                    <span class="project-title">Indecision App</span> 
                                    (<span>
                                        <a class="project__links" href="https://reactjs-indecisionapp.vercel.app/" target="_blank">Click to view</a>
                                    </span>)
                                    <br>
                                    <span>
                                        The expensify app is used to keep track of the expenses. The app has features to filter the data by date, amount.
                                        We can also filter the data between the date range. 
                                    </span>
                                    <br>
                                    <span><strong>Technologies Used -</strong> ReactJs </span>
                                    <br>
                                    
                                </li>
                                <li>
                                    <span class="project-title">Dynamic Form</span> <br>
                                    <span>
                                        The application involves rendering the form fields based on user’s requirements 
                                        which then can be filled to store the data or the filled data can be download as 
                                        a text file.
                                    </span>
                                    <br>
                                    <span><strong>Technologies Used -</strong> ReactJs </span>
                                    <br>
                                </li>
                                <li>
                                    <span class="project-title">Coupon Website</span> 
                                    (<span>
                                        <a class="project__links" href="https:www.internationalcoupon.com" target="_blank">Click to view</a>
                                    </span>)
                                    <br>
                                    <span>
                                        In this website, the database gets updated with coupons from different api’s, and 
                                        then all the data gets rendered in frontend. Python script is developed which 
                                        fetches coupon details of various stores and updated them in the database. As new coupons gets 
                                        updated daily, the expired coupons also gets deleted from the database on daily basis. 
                                    </span>
                                    <br>
                                    <span><strong>Technologies Used -</strong> Python, Django, HTML, CSS, Javascript</span>
                                    <br>
                                </li>
                                <li>
                                    <span class="project-title">Contacts Web App</span> 
                                    (<span>
                                        <a class="project__links" href="https://nikfolio.pythonanywhere.com/contactapp/" target="_blank">Click to view</a>
                                    </span>)
                                    <br>
                                    <span>
                                        The Web App involves saving the Contact information such as Mobile No., 
                                        Email, and Address of a person on the App.
                                    </span> 
                                    <br>
                                    <span><strong>Technologies Used -</strong> Python, Django, HTML, CSS, Javascript</span>
                                    <br>
                                </li>
                                <li>
                                    <span class="project-title">Desktop Assistant</span> <br>
                                    <span>
                                        The storage size of systems (Laptop/ Desktop) is increasing so as the number 
                                        of files stored. So, sometimes the file we want is lost / misplaced in the 
                                        system. Also, in this huge volume of data, it becomes time consuming to search 
                                        the required file. So this assistant is keeping track of all files in the 
                                        system and helps user to directly execute the file from the desktop without 
                                        the need of going into the file explorer and execute it.
                                    </span> 
                                    <br>
                                    <span><strong>Technologies Used -</strong> Python</span>
                                    <br>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>